:root {
    --main-color: black;
    --background-color: white;
    --focus-color: #e5ffff;
    --win-color: lightblue;
}

body {
    transform: translateY(50%);
    text-align: center;
    color: var(--main-color);
    background: var(--background-color);
    font-family: Helvetica, Arial, serif;
}

h1 {
    margin-bottom: 50px;
}

.button {
    color: var(--main-color);
    width: 10%;
    margin: 20px auto;
    padding: 1em;
    border: 1px solid black;
}

a:link {
    text-decoration: none;
}

@media screen and (prefers-color-scheme: dark) {
    body {
      --main-color: rgb(200, 200, 200);
      --background-color: rgb(30, 30, 30);
      --focus-color: rgb(52, 52, 146);
      --win-color: darkblue;
    }
  }